html, body {
    height: 100%;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr;
    background-image:url('src/img/us_navy_fleet_ww2.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Blackadder ITC";
    font-size: 4em;
    font-weight: lighter;
}

.title-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-screen span {
    font-size: 3em;
    font-family: Impact;
    color: #fff7a2;
}

.title-screen span:hover {
    font-size: 3.5em;
    -webkit-text-stroke: 2px black
}


.game-board td {
    height: 2em;
    width: 2em;
    border: 1px solid black;
    background-color: aqua;
}


