html, body {
    height: 100%;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.game-area {
    background-image:url('src/img/us_navy_fleet_ww2.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    font-family: "Blackadder ITC";
    font-size: 4em;
    font-weight: lighter;
}